.img {
    width: 200px;
    height: 500px;
}


h1  {

     color: burlywood;
}
.etiquetaA{
    color: red
}
h2 {
    color: red;
}
.Art {
    color: blue
}
.Ind { 
    color: blue;

}
.email {
    border:4px solid black;

}
.contacto {

    border: 4px solid black;
}
